.time-card {
  border-radius: 0.3rem !important;
  margin-bottom: 0.625rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  text-align: center !important;
}

small {
  font-size: x-small;
}

.card-header {
  height: 50px;
  padding: 0.25rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

#result-div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
